!!!
%html
  %head
    %title Sinatra App

    / %meta(property="og:title" content="TITLE")
    / %meta(property="og:description" content="DESCRIPTION")
    / %meta(property="og:type" content="website")
    / %meta(property="og:image" content="THUMBNAIL")
    / %meta(property="og:site_name" content="SITE")
    / %meta(property="og:url" content="URL")

    %script{src: "http://code.jquery.com/jquery.min.js"}
    %script{src: "/app.js"}

    %link(rel="stylesheet" href="/app.css" type="text/css")
  %body
    = yield
